!!!5
html
    head
        title Admin-Area | ShoppingList
    body
        block navigation
            #nav.nav
                nav
                    ul.navigation
                        if navigation.length!=0
                            each item, i in navigation
                                li: a(href='/admin/#{item.path}') #{item.label}
                        else
                            | keine Navigation vorhanden
            
        
        #contentWrapper.content
            block content

        block footer
            #footer.footer
            if footer.footer
                #{footer.footer}
            else
                kein Footer vorhanden